*{
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: rgb(87, 8, 177);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.password-heading{
  color: rgb(222, 220, 220);
  text-transform:uppercase;
  font-size: 1.1rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.display-container{
  position: relative;
  display: flex;
  flex-direction: row;
}

.display-container input{
  width: 15rem;
  height: 2rem;
  background-color: rgb(170, 20, 172);
  backdrop-filter: blur(10px);
  border:1px solid rgb(23, 21, 21);
  text-align:start;
  padding-left: 10px;
  font-weight: 600;
  font-size: 0.7rem;
  border-radius: 5px;
  color: antiquewhite;  
  border-bottom: 2px solid rgb(11, 202, 129);
}

::placeholder{
  color: rgb(167, 167, 31);
  text-transform: uppercase;
}

[data-copy]{
  position: absolute;
  background:none;
  border: none;
  right: 9px;
  top: 13px;
  cursor: pointer;
  
}

[data-copyMsg]{
  opacity: 0;
}

.active{
  position: absolute;
  color:rgb(140, 63, 4);
  font-size: 15px;
  cursor: pointer;
  top: -20px;
  right: -20px;
  width: 50px;
  height: 20px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: rgb(30, 209, 140);
  opacity: 1;
}

.setvalue-container{
  width: 20%;
  height: 40%;
  background-color: rgb(170, 20, 172);
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgb(11, 202, 129);
  border-radius: 6px;
  margin-top: 10px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  gap: 5px; */
}

.input-container{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  padding-left: 5px;
  padding-right: 5px;
  align-items: center;
}

.pass-length{
  color: rgb(222, 220, 220);
  font-weight: 600;
  font-size: 0.9rem;
  text-transform: capitalize;
  padding-top: 8px;
  padding-left: 5px;
}

[data-lengthNumber]{
  color:rgb(222, 220, 220) ;
  font-size: 0.9em;
  padding-right: 5px;
  padding-top: 8px;
}

[data-lengthslider]{
  -webkit-appearance: none;
  width: 90%;
  height: 5px;
  border-radius: 3px;
  margin-left: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color:rgb(249, 146, 50) ;
}

[data-lengthslider]::-webkit-slider-thumb{
  position: relative;
 -webkit-appearance: none;
 cursor: pointer;
 height: 14px;
 width: 14px;
 border-radius: 7px;
 background:rgb(68, 244, 68);
}

[data-lengthslider]::-webkit-slider-thumb:hover{
  -webkit-appearance: none;
  background:rgb(124, 9, 126);
  transition: 0.2s ease-in-out;
  border: 1px solid yellow;
  box-shadow: 3px 1px 20px yellow,1px 3px 10px yellow;
  
}

[data-lengthslider]:focus{
  outline: 2px solid yellow;
}  

[allcheck-box]{
  display: block;
  box-sizing: content-box;
  margin-left: 10px;

}

input[type="checkbox"]{
  position: relative;
  cursor: pointer;
}

input[type="checkbox"]::before{
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  top: 0;
  left: 0;
  border: 1px solid rgb(13, 219, 242);
  border-radius: 3px;
  background-color: rgb(170, 20, 172);
}

input[type="checkbox"]:checked::after{
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  top: 0;
  left: 0;
  border:none;
  background-color: rgb(5, 230, 103);
  color: black;
  border-radius: 3px;
  transition: 0.1s ease-in-out;
}

[allcheck-box] div label{
  color: rgb(241, 238, 238);
  font-weight: 500;
}

.strenth-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 10px;
}

.strenth-container p{
  color: rgb(238, 238, 238);
  margin-left: 8px;
  font-weight: 500;
  text-transform: capitalize;
}

[data-indicator]{
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: white;
  margin-right: 12px;
  margin-top: 3px;
  box-shadow: 1px 1px 10px 3px white;
  opacity: 0.9;
  color: rgb(239, 92, 92);
  
}

.generateButton{
  width: 85%;
  height: 12%;
  margin-top: 10px;
  margin-left: 5%;
  border-radius: 6px;
  border:none;
  border-bottom: 3px solid rgb(11, 202, 129);
  background-color: rgb(249, 146, 50);
  color: rgb(105, 6, 151);
  font-weight: 600;
}











